{% extends "base.html" %}

{% block page_header %}
<title>Util Bucket Home</title>
{% endblock %}
{% block page_content %}
<div class="container">
  <div class="row">
      <div class="col">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Welcome!</h4>
              <p>Aww yeah, Glad you land here!! My effort to make some handy util programs that helps to ease the work. I will come up with some grete utils which indeed help in daily works. </p>
              <hr>
              <p class="mb-0">You can access the DB util , which will help to column to value mapping of a SQL query.  <a class="dropdown-item" href="/dbutil">DB Util</a></p>
            </div>
      </div>
  </div>
</div>
{% endblock %}